---
# Only the main Sass file needs front matter (the dashes are enough)
sitemap: false
---

@charset "utf-8";

$base-font-family: "Raleway", sans-serif;
$headline-font-family: "Raleway", sans-serif;
$title-font-family: "Raleway", sans-serif;
$description-font-family: "Raleway", sans-serif;
$meta-font-family: "Raleway", sans-serif;

@import "so-simple";
