<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% if page.title %}{{ page.title }} - {% endif %}{{ site.title }}</title>
    <link rel="stylesheet" href="/assets/css/styles.css">
    {% feed_meta %}
    {% seo %}
</head>
<body>
	<header class="black">
    <div class="container">
      <h1><a href="{{ site.baseurl }}/">{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</a></h1>
      <h2>Developer. Engineer.</h2>
      <ul class="social">        
        <a href="{{ site.baseurl }}/about/"><li>About me</li></a>
      </ul>
    </div>
  </header>

  <main>
    {{ content }}
  </main>

  <footer style="margin-top: 3rem; border-top: 1px solid #eee; padding-top: 1rem;">
      <p>&copy; {{ site.time | date: '%Y' }} {{ site.title }}</p>
  </footer>
</body>
</html>
